body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6b6b;
    color: white;
    padding: 20px;
    text-align: center;
}

header input {
    margin-top: 10px;
    padding: 8px;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.recipe-card {
    background-color: white;
    width: 250px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.recipe-card h3 {
    margin: 10px 0 5px 0;
}

.recipe-card p {
    padding: 0 10px 15px 10px;
    font-size: 14px;
    color: #555
}